<h1>Booking Form</h1>
<mat-card class="booking" style="margin-top:5%;margin-bottom:55%;margin-left:5%;margin-right:60%;">
  <mat-form-field>
    <input [(ngModel)]="this.booking.name" matInput placeholder="Enter Your name">
  </mat-form-field><br>

  <mat-form-field>
    <input [(ngModel)]="this.booking.regno" matInput placeholder="Enter your SSLC RegisterNo">
  </mat-form-field><br>

  <mat-form-field>
    <input [(ngModel)]="this.booking.total" matInput placeholder="Enter your SSLC Total Mark">
  </mat-form-field><br>

  <mat-form-field>
    <input [(ngModel)]="this.booking.schname" matInput placeholder="Enter your School Name">
  </mat-form-field><br>

  <mat-form-field>
    <select matNativeControl required [(ngModel)]="this.booking.dept" placeholder="choose the dept">
      <option value="cse">CSE</option>
      <option value="ece">ECE</option>
      <option value="it">IT</option>
    </select>
  </mat-form-field><br>


  <mat-form-field>
    <input [(ngModel)]="this.booking.mail" matInput placeholder="Enter your Email">
  </mat-form-field><br>



  <mat-form-field>
    <input [(ngModel)]="this.booking.mobile" matInput placeholder="Enter your MobileNo">
  </mat-form-field><br>


  <mat-form-field>
    <input [(ngModel)]="this.booking.city" matInput placeholder="City">
  </mat-form-field><br>

  <mat-form-field>
    <input [(ngModel)]="this.booking.post" matInput placeholder="Post">
  </mat-form-field><br>

  <mat-form-field>
    <input [(ngModel)]="this.booking.country" matInput placeholder="Country">
  </mat-form-field><br>



  <button mat-raised-button color='accent' (click)="goBooking()">RegisterNow</button>
  <app-alerts></app-alerts>

</mat-card>