<div class="head">
  <h1>X.S.G Polytechnique College</h1>
</div><br>

<div class="container">
  <div class="text-block">
    <h2>ABOUT US</h2>
    <p>fdjhgfdh jfkgfkjsghj jfgkjsfgksj <br>
  </div>
</div>

<div class="buttons">
  <p>SSLC STUDENTS CLICK HERE !</p>
  <button class="btn btn-primary" (click)="goFirst()">click</button>
</div>

<div class="buttonn">
  <p>HSC STUDENTS CLICK HERE !</p>
  <button class="btn btn-primary" (click)="goLate()">click</button>
</div>


<div class="footer">
  <h3>OUR SERVICES</h3>
  <section>
    <p>24/7 customer support</p>
    <p>Wi-Fi connectivity </p>
    <p>Parking Facility</p>
    <p>Hostel</p>
    <p>Cafeteria</p>
  </section>
</div>